/* HOME */
.home_container {
    height: 80vh;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.home_container * {
    margin: 10px;
    text-align: center;
}

.home_container img {
    width: 80%;
    height: auto;
}

/* HOME */


/* LOGIN & SINGUP */

.registration_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;

    width: 40%;
    min-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 30px;
}

/* LOGIN & SIGNUP */

/* LOBBY */
#lobby_container {
    background-color: #9980C1;
    color: #FFFFFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#category_container {
    background-color: "rgba(255,255,255,0.1)";
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
}

#category_container label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

#category_container select {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    color: #213547;
}

#lobby_button_container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

#lobby_button_container button {
    background-color: #FBA405;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1rem;
    color: #213547;
    box-shadow: 3px 3px #6f5d96;
    cursor: pointer;
}

/* LOBBY */

/* NAV TOP */

#nav_top_container {
    background-color: #8245e3;
    height: 100px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav_top_container img {
    width: 250px;
    height: auto;
}

#nav_top_container * {
    margin: 15px;
}

/* NAV TOP */


/* @media only screen and (max-width: 600px) {

} */